
header, main {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
}

header {
  background: teal;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

main {
  min-height: calc(100vh - 80px);
  background: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

main > .card {
  width: calc(calc(100% - 24px) / 2);
  min-height: 200px;
  box-sizing: border-box;
}

.card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card > h4 {
  font-weight: 600;
  font-size: 18px;
}